// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
.home{
    color: color($colors, light);
    background-color: color($colors, primary);
}

.toolbar-title{
    text-align: center;
}

.temp{
    font-size: 90px;
    text-align: center;
    font-weight: normal;
}

.location, .icon, .desc{
    text-align: center;
}

.icon img{
    width: 50px;
}

.location{
    font-size: 40px;
}

.desc{
    font-size: 30px;
}

.item-md.item-block .item-inner{
    border-bottom-width: 2px !important;
    border-color: color($colors, primary);
    padding-bottom: 2px !important;
}

.item-md.item-block.input-has-focus.item-input-has-focus .item-inner{
    border-bottom-width: 4px;
    padding-bottom: 0px;
}